{% extends 'base.html' %}

{% block principal %}
<h1 style="text-align: center;  color: blue; background-color:aqua">Bienvenue aux programmes A 3 H</h1>
<h4>
    <p></p>
    <li>*  Programme A3h forfait : Calcul de  defaut regime forfait</li>
    <li>*  Programme A3h reel: Calcul de defaut regime reel</li>
    <li>*  Programme A3h : Verification ponctuelle , verification preliminaire ,verification approfondie et taxation</li>

</h4>
<h2 style="text-align: center;  color: blue; background-color: antiquewhite;"> Programme A3h forfait</h2>
<h4>Cette application permet de:</h4>
<h5>
<li>Calculer le principal de l'impôt </li>
<li>Calculer le montant de pénalité </li>
<li>Calculer le montant total ; principal et pénalité </li>
<li>Imprimer un bulletin de versement en montant de l'avance </li>
<li>Imprimer le bordereau de constatation en montant du reste </li>
<li>Imprimer le bulletin de liquidation </li>
<li>Imprimer la reconnaissance de dettes </li>
<li>Pour une verification : Imprimer le calcul d'impôt et le tableau recapitulatif  </li>
</h5>

<h2 style="text-align: center;  color: blue; background-color: antiquewhite;"> Programme A3h reel</h2>
<h4>Cette application permet de:</h4>
<h5>
<li>Calculer le principal de l'impôt </li>
<li>Calculer le montant de pénalité </li>
<li>Calculer le montant total ; principal et pénalité </li>
<li>Imprimer un bulletin de versement en montant de l'avance </li>
<li>Imprimer le bordereau de constatation en montant du reste </li>
<li>Imprimer le bulletin de liquidation </li>
<li>Imprimer la reconnaissance de dettes </li>
</h5>

<h2 style="text-align: center;  color: blue; background-color: antiquewhite;"> Programme A3h verification et taxation</h2>
<h4>Cette application permet de:</h4>
<h5>
<li>Calculer le principal de l'impôt </li>
<li>Calculer le montant de pénalité </li>
<li>Calculer le montant total ; principal et pénalité </li>
<li>Imprimer le calcul d'impôt</li>
<li>Imprimer le detail de calcul </li>
<li>Imprimer le calcul mensuel</li>
<li>Imprimer le pointage mensuel et annuel des impôts</li>
<li>Imprimer le tableau recapitulatif</li>
<li>Imprimer les tableaux de tva</li>
<li>Imprimer un bulletin de versement en montant de l'avance </li>
<li>Imprimer le bordereau de constatation en montant du reste </li>
<li>Imprimer le bulletin de liquidation </li>
<li>Imprimer la reconnaissance de dettes </li>
<li>Pour une taxation : Imprimer taxation  </li>
</h5>


{% endblock %}
